<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Surething_CalculateOps: https://github.com/magento/magento2/issues/21879 -->

    <!-- https://github.com/magento/magento2/pull/38464 -->

    <!-- ooedit: the Rule class below seems to be the same as the preference. disabling it makes no diff -->
    <!-- <preference for="Magento\CatalogRule\Model\Rule" type="BredaBeds\CalculateOps\CatalogRule\Model\Rule" /> -->

    <!-- <preference for="Magento\Catalog\Model\Product\Option" type="BredaBeds\CalculateOps\Catalog\Model\Product\Option" /> 
    <preference for="Magento\Catalog\Model\Product\Option\Value" type="BredaBeds\CalculateOps\Catalog\Model\Product\Option\Value" /> 
    <preference for="Magento\Catalog\Model\Product\Option\Type\Select" type="BredaBeds\CalculateOps\Catalog\Model\Product\Option\Type\Select" />  -->
    <!-- ooedit: the two preferences below seem to not make any difference on hyva -->
    <!-- <preference for="Magento\Catalog\Model\Product\Option\Type\DefaultType" type="BredaBeds\CalculateOps\Catalog\Model\Product\Option\Type\DefaultType" /> 
    <preference for="Magento\Catalog\Block\Product\View\Options\AbstractOptions" type="BredaBeds\CalculateOps\Catalog\Block\Product\View\Options\AbstractOptions" /> -->


    <!-- Product Option plugins -->
    <!-- ooedit: (removed 2026-07-23) the PushOnCartAddPlugin preference was a bugfix for
         mirasvit_tm price-jumping when adding a 2nd item; mirasvit/module-tm 1.2.x ships the
         fix itself (the isObjectNew() guard) and removed the AdditionalProductData class our
         override depended on. NOTE: our version also wrapped the GTM push in try/catch so a
         tracking error could never break add-to-cart - vendor does not; re-add a guard if
         cart errors ever trace back to Mirasvit\Tm. -->

    <type name="Magento\Catalog\Model\Product\Option"> 
        <plugin name="bredabeds_calculateops_product_option" type="BredaBeds\CalculateOps\Plugin\ProductOptionPlugin" sortOrder="10"/>
    </type>

    <type name="Magento\Catalog\Model\Product\Option\Value">
        <plugin name="bredabeds_calculateops_option_value" type="BredaBeds\CalculateOps\Plugin\ProductOptionValuePlugin" sortOrder="10"/>
    </type>

    <type name="Magento\Catalog\Model\Product\Option\Type\Select"> 
        <plugin name="bredabeds_calculateops_select_type" type="BredaBeds\CalculateOps\Plugin\SelectTypePlugin" sortOrder="10"/>
    </type>

    <!-- New plugin to handle hyva price ViewModel -->
    <type name="Hyva\Theme\ViewModel\ProductPrice">
        <plugin name="bredabeds_calculateops_product_price_view_model" type="BredaBeds\CalculateOps\Plugin\ProductPriceViewModelPlugin" sortOrder="10" />
    </type>

</config>